
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

body {
  // background-image: url(../img/prohib.png);
  background-color: #f9f9f9;
  // background-size: cover;
  // background-attachment: fixed;
}

img {
	max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}


// ---
// Header
// ---

// You might want to split this into your own partial!




// ---
// Main Site Content
// ---


// ---
// Footer
// ---




// ---
// Misc Utilities
// ---

.edit-link {
  @include meta($color-notice-warning);
  font-weight: $font-weight-strong;
}
