// ----
// Image Block
// ----

.block.-image {
  text-align: center;
}




// ----
// Inline Elements Block
// ----

.block.-inline_elements {
  @include clearfix;
}

.inline-image {
  padding-bottom: $size-xsml;
  @include bp(md) {

    &.alignleft {
      margin-left: -$c-pad;
      padding-right: $size-sml;
    }

    &.alignright {
      margin-right: -$c-pad;
      padding-left: $size-sml;
    }

    &.-large {
      width: 75%;
    }

    &.-medium {
      width: 60%;
    }

    &.-small {
      width: 40%;
    }

  }
}

