// ---
// Buttons
// ---

// Here's a simple button mixin. Instead of keeping it in utility/_mixin.scss, I'm putting it here so we can easily reference it without going into a new file.

@mixin button($background, $text-color: $color-text-light) {
	background-color: $background;
	color: $text-color !important;
	padding: $size-base $size-h4;
	text-decoration: none;
  border-radius: 3px;

  &:hover {
    background-color: darken($background, 8%);
  }

  &:active {
    background-color: darken($background, 15%);
  }

  .icon {
    fill: $text-color;
  }
}

// A note about naming: instead of .default-btn, I like to have .btn first so that it's more easily scannable. Change it up as you like!

// Default button
.btn-default {
	@include button($color-accent-dark, $color-text-light);
}

// Info button, maybe for "Read More" or something.
.btn-info {
	@include button($color-notice-info, $color-text-light);
}

// Info button, maybe for "Read More" or something.
.btn-readmore {
  @include button($color-notice-info, $color-text-light);
}

.btn-amazon {
  @include button(#484848, $color-text-light);
  @include upperspace;
  background-image: url(../img/svg/amazon.svg);
  background-repeat: no-repeat;
  background-position: $size-xsml center;
  padding-left: $size-h1*1.2;
  font-size: $size-sml;
  margin: $size-base 0;
}

.btn-wrap {
  text-align: center;
  display: flex;

  &.-full-lg > * {
    @include bp(lg) {
      width: 100%;
    }
  }
}

.btn-icon,
.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    padding-left: $size-xsml;
  }
}
