
.caption {
  font-size: $size-sml;
  margin: 0;
  color: $color-text-med;
}

.hero-img {
  // @include grid;
  // width: 110%;
  // max-width: none;
  // margin-left: -5%;
  // display: block;
}

// Lazysizes

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
