
.caption {
  font-size: $size-sml;
  margin: 0;
  color: $color-text-med;
}

.hero-img {
  // @include grid;
  // width: 110%;
  // max-width: none;
  // margin-left: -5%;
  // display: block;
}

// Lazysizes

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
