
// Two displays for teases. Cards that are two across and rows.

.tease {
  position: relative;
}

.tease-loop-wrap {
  @include grid($wrap: wrap);
}

.tease-title {
  &.-small {
    font-size: $size-base;
  }
}

.archive .tease,
.blog .tease {
  margin-bottom: $size-h3;

  &.-card {
    @include bp(sm) {
      @include cell(half);
    }
  }

  &.-row {
    @include bp(sm) {
      @include cell(third);
    }
  }

  // &.-card {
  //   @include bp(sm) {
  //     @include cell(half);
  //   }
  // }

  // @include bp(lg) {
  //   @include cell(third);
  // }
}

.tease-recipe {

  padding: $size-base;

  .single & {
    margin-bottom: $size-base;
    margin-left: -$size-base;
    margin-right: -$size-base;
  }
}

.recipe-section {

  &.-notes p {
    @include meta;
  }

  &-title {

    .-notes & {
      // margin-bottom: 0;
      // font-size: $size-sml;
      // border-top: $border-accent;
      // padding-top: $size-sml;
    }

    font-size: $size-base;
    @include upperspace;
  }
}

.tease-credit {
  margin-top: 0;
}

.tease-inner,
.single .tease {
  @include card;
}

.tease-thumb {
  border-bottom: 5px solid $color-link;
  position: relative;
}

.tease-thumb-img {
  display: block;
  width: 100%;
}

.tease-info {
  padding: $size-base;
  > p {
    @include bp(md) {
      font-size: $size-sml;
    }
  }
}

.tease-title {
  margin-top: 0;
  line-height: $line-height-small;
  font-size: $size-h4;
}

.tease-type {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  @include upperspace;
  background-color: rgba($color-accent-dark, 0.7);
  color: $color-text-light;
  padding: $size-xsml $size-sml;
}

.date {
  margin-top: 0;
  @include meta($color-accent-med);
  font-style: italic;
}
