{% extends "base.twig" %}

{% block header_content %}
  <header class="contain-sm article-header">
    <h1 class="article-title">{{title}}</h1>
  </header>
  <ul class="cat-list -header">
  {% for c in cats %}
    <li class="cat-list-item">
      <a href="{{c.link}}">{{c.name}}</a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <div class="tease-loop-wrap">
  	{% for post in posts %}
  		{% include ['teases/tease-'~post.format~'.twig', 'teases/tease-'~post.post_type~'.twig','teases/tease.twig'] %}
  	{% endfor %}
  </div>
{% endblock %}

{% block footer_content %}

{% endblock %}
