{% extends "base.twig" %}

{% block content %}
  <h1>{{post.title}}</h1>
  {% include 'partials/srcset.twig' with { id: post.hero_image, class: 'full-image' } %}
  <p>{{post.main_tagline}}</p>
  <p>{{post.sub_tagline}}</p>
{% endblock %}
