
{# No specific markup for the home page, yet. Add it here inside a content block! #}

{% extends "base.twig" %}

{% block content %}

  <div class="article contain-md">
    {% set img = TimberImage(post.hero_image) %}
    <p class="hero-tagline-main">{{post.main_tagline}}</p>
    <p class="hero-tagline-sub">{{post.sub_tagline}}</p>
    <img src="{{img.src}}" alt="Hero Image">
  </div>
{% endblock %}
