{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<header class="article-header contain-sm">
				<h1 class="article-title">{{post.title}}</h1>
				<p class="article-tagline">{{post.tagline}}</p>
			</header>
			<section class="article-content">
				<div class="article-body">
					{% include 'partials/content-blocks.twig'	%}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
