
// ---
// Variables
// ---

// Welcome to the variables file!


// ---
// Screen sizes
// ---

// Read this NOW:
// http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// "Start with the small screen first, then expand until it looks like shit. Time for a breakpoint!"
// -Stephen Hay

$screen-xs: 		440px;
$screen-sm: 		680px;
$screen-md: 		840px;
$screen-lg: 		980px;



// ---
// Colors
// ---

// These are names for actual colors. Below, you'll see how to name them for use.

// Aw man, I love Kuler:
// http://adobe.ly/1wwZ0Rk

$blue:        #0062D4;
$dark-blue: 	darken($blue, 20%);
$grey-blue:   lighten(#334D5C, 15%);
$teal: 				#45B29D;
$yellow: 			#EFC94C;
$orange: 			#E27A3F;
$red: 				#DF4949;

// In art school I was told never to make white pure white and black pure black - not sure if that holds up for the world wide web, but maybe!
$white: #E5E7E7;
$black: #1A1A1A;

$grey-light:  #B2B2B2;
$grey-med:    #777777;
$grey-dark:   #454545;

// STOP!!! READ THIS:
// Semantic Color Names
// http://thesassway.com/beginner/variable-naming

// These are nice utility colors
$color-accent-vlight:  $white;
$color-accent-light: 	$grey-light;
$color-accent-med: 		$grey-med;
$color-accent-dark:		$grey-dark;

$color-text-light:    $white;
$color-text-med: 		  $grey-med;
$color-text-dark: 		$black;

$color-notice-success:	 $teal;
$color-notice-info:		   lighten($dark-blue, 20%);
$color-notice-danger:		 $red;
$color-notice-warning:	 $orange;

// Then element-based names are nice too
$color-link: 		       mix($teal, $blue);
$color-link-hover: 		 darken($color-link, 20%);
$color-link-active: 	 darken($color-link, 60%);

// The most commonly rotated color:
$color-rotate-text:   $color-text-light;
$color-rotate-bkgd:   $color-accent-med;
$color-rotate-link:   $color-accent-light;


// ---
// Scale
// ---

// Use these values for font sizes, margins, padding, everything! It's nice to use consistent values instead of magic numbers (http://j.mp/smellycss).

// Also, rems are awesome. Here's an article about them:
// http://snook.ca/archives/html_and_css/font-size-with-rem
// And a small pen I made that explains them: http://codepen.io/laras126/pen/YyWLgz


$size-base:  		1rem;
$size-xsml:     $size-base*0.6;
$size-sml:  		$size-base*0.8;

$size-h1:  			$size-base*2.6;
$size-h2:  			$size-base*2.2;
$size-h3:  			$size-base*1.8;
$size-h4:  			$size-base*1.4;
$size-h5:  			$size-base*1.2;
$size-h6:  			$size-sml;


// Z-Index Scale
$z-base:      1;
$z-back:      $z-base+1;
$z-mid:       $z-base+2;
$z-top:       $z-base+3;
$z-tiptop:    $z-base+4;



// ---
// Typography
// ---

// Pretty standard.

$sans-serif: 		'roboto', Helvetica, sans-serif;
$serif:         'ltc-bodoni-175', Georgia, serif;

// If you are using webfonts and are a good girl/boy, you will define some fallbacks (see the top of _typography.scss for where to use them):

$sans-serif-fallback: Helvetica, sans-serif;
$serif-fallback: Georgia, serif;

// Here's a relatively complicated article about web fonts and performance:
// http://artequalswork.com/posts/adventures-in-dynamic-subsetting/


// Semantic names

$line-height-base: 	1.5;

$heading-font: 		$serif;
$body-font: 		  $sans-serif;

$font-weight:     300;
$font-weight-strong: 700;

// $body-font-fallback:		$sans-serif-fallback;
// $heading-font-fallback:	$serif-fallback



// ----
// Helpers
// ----

// Shortcuts for things you might be typing a lot.

$border-accent: 1px dotted $color-accent-med;

