<section class="tease-ingredients">
  <h5>Ingredients</h5>
  <ul>
  {% for ing in post.get_field('ingredients') %}
    {% for i in ing %}
      <li>{{i}}</li>
    {% endfor %}
  {% endfor %}
  </ul>
  {{post.directions|wpautop}}
</section>
<a href="{{post.link}}">Recipe Page...</a>
