{% extends 'blocks/base.twig' %}

{% block block_content %}

  {% for id in block.items %}
    {% set item = TimberPost(id) %}

    {% if post.post_type != 'recipe' %}
      <p>{{item.excerpt}}</p>
      {% if item.post_type == 'recipe' %}
        {% include 'teases/tease-' ~ item.post_type ~ '.twig' with { post: item } %}
      {% endif %}
    {% endif %}
  {% endfor %}

{% endblock %}
