{% extends 'blocks/base.twig' %}

{% block block_content %}

  {% for id in block.items %}
    {% set item = TimberPost(id) %}
    <h4>{{item.title}}{% include 'partials/edit-link.twig' with { post : item } %}</h4>
    <p>{{item.excerpt}}</p>
    {% if item.post_type == 'recipe' %}
      {% include 'teases/tease-recipe-short.twig' with { post: item } %}
    {% endif %}
  {% endfor %}

{% endblock %}
