{% extends 'blocks/base.twig' %}

{% block block_content %}

  <figure class="block-figure -{{block.size}}">

  {#
    900 desktop
    600 tab
    500 mobile
  #}

    {% include 'partials/srcset.twig' with { id: block.image, class: 'full-image' } %}

    {% if img.caption %}
      <figcaption>
        <p class="caption">{{img.caption}}</p>
      </figcaption>
    {% endif %}
  </figure>

{% endblock %}
